{% extends 'base.html.twig' %}

{% block title %} - Najnowsze posty{% endblock %}

{% block body %}

<div class="container">
<h1>Posty:</h1>
{% for post in posts %}
  <h2>{{ post.title }}</h2>
  <h4>{{ post.author.displayname }} - {{ post.created|date('d-m-Y') }}</h4>
  {{ post.body|raw }}
{% endfor %}
</div>
{% endblock %}
